body {
    padding: 30px;
    background-color: #ffffff;
}

input {
    width: 70%;
    padding: 8px !important;
    font-size: 18px !important;
}

#north {
    text-align: center;
    margin-bottom: 2em;
}

.result {
    margin-bottom: 1em;
}

.label-resource {
    background-color: #c67605;
}

.btn-small.active,
.btn-small:active {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
    background-color: #eae7e6;
    margin-top: -1px;
}

.btn-small.disabled,
.btn-small[disabled] {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
    background-color: #e6e2e5;
    margin-top: -1px;
}

.facets {
    margin-bottom: 1em;

    width: 250px;
    box-shadow: 0 0 5px #B0B0B0;
}

