body {
    padding: 30px;
    background: #fff;
}

input {
    width: 70%;
    padding: 8px !important;
    font-size: 18px !important;
}

/*
progress {
    background-color:red;
    border: none;
}

progress::-webkit-progress-bar-value, progress::-webkit-progress-value,
progress::-moz-progress-bar {background-color:blue}
*/

#north {
    text-align: center;
    margin-bottom: 2em;
}

.result {
    margin-bottom: 1em;
}

.label-resource {
    background-color: #c67605;
}

.btn-small.active,
.btn-small:active {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
    background-color: #eae7e6;
    margin-top: -1px;
}

.btn-small.disabled,
.btn-small[disabled] {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
    background-color: #e6e2e5;
    margin-top: -1px;
}

.facets {
    margin-bottom: 1em;
    width: 250px;
}

.topGuysFacet {

}

.robot-list-element {
    width: 350px;
    box-shadow: 0 0 5px #B0B0B0;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

.robot-list-element img {
    float: left;
    display: block;
}

.robot-stat-wrapper {
    float: left;
    width: 250px;
    /*width: 100%;*/
}

.robot-stat-element {
    font-family: 'Galindo', cursive;
    font-size: 0.7em;

}
.robot-stat-element progress {
    width: 90%;
}

.robot-worklog-chart {
    height: 57px;
}